@model IEnumerable<web_api_v1.Models.Employees>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <th>
                Id
            </th>
            <th>Name</th>
            <th>Address</th>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.Name</td>
                        <td>@emp.Address</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="text-center"><button class="btn btn-primary" onclick="location.href = '@Url.Action("New", "Employees")' ">Add</button></div>
    </div>
</div>

